<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Chat</title>
	<script type="text/javascript" src="qrc:///qtwebchannel/qwebchannel.js"></script>
	<script type="text/javascript">
		//new QWebChannel(qt.webChannelTransport, function(channel) {
		//	window.bridge = channel.objects.bridge;
		//});
		function appendHtml() {
			document.getElementById("messageList").innerHTML += window.bridge.htmlString;
		}
	</script>
	<style>
		{{styles}}
	</style>
</head>
<body>
	<div id="messageList">
		{{messages}}
	</div>
</body>
</html>